.footer{
    margin-bottom: 100px;
}

.footer-container{
    display: flex;
    justify-content: space-around;
}

.logo-icons-container{
    display: flex;
    flex-direction: column;
}

.icons-footer-container{
    display: flex;
    gap: 10px;
}

.nav-list-footer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}




.scrollToTopBtn {
    display: none; 
    position: fixed; 
    bottom: 100px;
    right: 100px;
    width: 80px;
    height:60px;   
     font-size: 18px;
    background: #118da8;
    color: white;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    z-index: 1000; 
    transition: 0.3s;
  }
  
  .scrollToTopBtn:hover {
    background-color: #ffffff ;
  }

  .icon-up{
    fill: #fff;
    transition: 0.3s;
  }

  .scrollToTopBtn:hover .icon-up {
    fill: #118da8;
  } 




