.header{
    padding: 25px 0;
    margin-bottom: 40px;
}

.header-container{
    display: flex;
    justify-content:space-between;
}

.nav-list-header{
    display: flex;
}

.nav-list{
    display: flex;
    gap: 40px;
    align-items: center;
}

.nav-list-link{
    font-size: 17px;
    transition: 0.4s;
}

.nav-list-link:hover{
    color: #118da8;
}

.logo-link{
    margin-left: -20px;
}
